<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="{{active}}"><a href="{% url 'index' %}">Home</a></li>
            <li class="{{active}}"><a href="{% url '2' %}">Page 1</a></li>
            <li class="{{active}}"><a href="{% url '3' %}">Page 2</a></li>
            <li class="{{active}}"><a href="{% url '4' %}">Page 3</a></li>
            <li><a>{{ date }}</a></li>
        </ul>

    </div>
</nav>